.app.dark {
  --bg-color: #2a302c;
  // --inverted-bg-color: #e8e8ea;

  --second-bg-color: #383a39;
  // --second-inverted-bg-color: #e3e3e8;

  --primary-color: #eaecea;
  // --inverted-primary-color: #0232c2;

  --secondary-color: #e9ccf0;
  // --inverted-secondary-color: #0449e0;

  --navbar-bg: #3f3e4bf4;
}
