.app {
  --bg-color: #ddf7ea;
  // --inverted-bg-color: #18182b;

  --second-bg-color: #b6e1c4;
  // --second-inverted-bg-color: #22222f;

  --primary-color: #1a1c20;
  // --inverted-primary-color: #edf3ed;

  --secondary-color: #193268;
  // --inverted-secondary-color: #7292eb;

  --navbar-bg: #cf3f5ef4;
}
